$primary-color: #007bff;
$small-screen: 768px;
$large-screen: 1024px;
$secondary-color: #4be772;
$white: #ffffff;
$dark-color: #343a40;
$dark-gray: gray;
$danger-color:red;

$success-color:#46ee70;
$light-gray: rgb(197, 191, 191)